$ds-primary: #86004A;
$ds-primary-dark: darken(#86004A, 10%);
$ds-primary-light: lighten(#86004A, 10%);

$ds-dark: #131414;
$ds-light: #fff;

$ds-success: #008B51;
$ds-warning: #ffea00;
$ds-error: #e30045;

$layout-spacer: 20px;

$h1-info-text-size: 20px;
$h2-info-text-size: 16px;
$h3-info-text-size: 14px;

